
<section>
  <div class="background-video-container">
   
    <video autoplay muted playsinline loop preload="auto" class="size">
      <source src="https://d2ezlykacdqcnj.cloudfront.net/_assets/home-video/beach-waves-loop.mp4" type="video/mp4">
    </video>
  
</div>
 <div class="container">
    <div class="box1"> Naviguez au départ de + de 50 destinations et sur les voiliers les mieux équipés et entretenus du marché.</div>
    <div class="box2">Une plateforme innovante pour suivre la maintenance de votre bateau et optimiser sa valeur de revente.</div>
    <div class="box3">Variez les plaisirs en louant des chalets et villas dans le monde entier grâce à notre service de conciergerie exclusif.</div>
  </div>
    <div class="box ">
    <div>
      <span >Ocean Company </span> a été créée en 2002.Aujourd'hui <span>Ocean Company </span> propose 11 destinations situées dans les plus belles zones de navigation au monde,et plus de 300 monocoques et catamarans disponibles à la vente.La qualité de service, d'entretien et des zones de navigation sont l'ADN de <span>Ocean Company </span>, pour toutes ces raisons, nous sommes en constante recherche des innovations. Pour nos propriétaires, nous avons pour exemple développé une plateforme  en ligne <span>"Ocean Company" </span> :  cet outil en permet de suivre en temps réel l'ensemble des opérations de vente réalisées au cours de la période de gestion et facilite l'acces a nos innovations par nos client.

    </div> 
    <button type="submit" class="btn btn-dark" (click)="afficherPlus()">afficher plus</button>
  <div  *ngIf="accord">
      <span>Ocean Company </span>vous propose une large gamme de yachts à voil et à moteuret des zodiac afin de répondre pleinement à la demande et aux envies de nos propriétaires.
        Découvrez nos modèles de bateaux disponibles parmi les chantiers les plus renommés : carolina,yamaha et Lagoon .
    </div> 
    </div>
</section>

<app-footer></app-footer>
