 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
 <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <footer>
      <div class="footer-container">
        <div class="left-col">
          <img src="logo.png" alt="" class="logo">
          <div class="social-media">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <p class="rights-text">© 2022 Created By <b>isetch's students</b>  All Rights Reserved.</p>
        </div>
        <div class="right-col">
          <h1>OCEAN COMPANY <i class='fas fa-anchor' style='font-size:36px'></i></h1>
          <div class="border"></div>
        </div>
      </div>
    </footer>
  